/* 1. ───  Global Variables ───────────────────────────────────────────────────── */

$black: #191724;
$darker_black: #13111e;
$white: #e0def4;
$black2: #1f1d2a;
$one_bg: #262431;
$one_bg2: #2d2b38;
$one_bg3: #353340;
$grey: #3f3d4a;
$grey_fg: #474552;
$grey_fg2: #514f5c;
$light_grey: #5d5b68;
$red: #eb6f92;
$baby_pink: #f5799c;
$pink: #ff83a6;
$line: #2e2c39;
$green: #ABE9B3;
$vibrant_green: #b5f3bd;
$nord_blue: #86b9c2;
$blue: #8bbec7;
$yellow: #f6c177;
$sun: #fec97f;
$purple: #c4a7e7;
$dark_purple: #bb9ede;
$teal: #6aadc8;
$orange: #f6c177;
$cyan: #a3d6df;
$statusline_bg: #201e2b;
$lightbg: #2d2b38;
$pmenu_bg: #c4a7e7;
$folder_bg: #6aadc8;

/* 2. ─── Loading Screen ─────────────────────────────────────────────────────── */

#home-screen * {
    margin: 2;
    width: 80vw;
    align: center middle;
    padding: 1;
}


/* ─── Banner ─────────────────────────────────────────────────────── */

#name-banner {
    border: round $baby_pink;
    content-align-horizontal: center;
    content-align-vertical: middle;
    padding: 0;
    height: auto;
}


/* ─── Loading Indicator ──────────────────────────────────────────── */

#main-loading {
    width: 80vw;
    height: auto;
}


/* ─── Log Console ────────────────────────────────────────────────────────── */

.console {
    background: $background;
}

#loading-console {
    scrollbar-background-hover: $background;
    scrollbar-background: $background;
    scrollbar-corner-color: $background;
    height: auto;
    max-width: 80vw;
    min-width: 10vw;
}

#loading-console:focus {
    background: $background;
}


/* ─── Main Screen ────────────────────────────────────────────────────────── */

MainScreen #sidebar {
    width: 30%;
    display: none;
    border-left: thick $secondary;
}

MainScreen #sidebar.visible {
    display: block;
}

MainScreen * {}

HabiTUI {}

Screen {}

Header {
    background: $pmenu_bg;
    color: $background;
    padding: 0 1;
}

HeaderTitle {
    color: $background;
    text-opacity: 100%;
}

HeaderClock {
    background: $boost;
    color: $background;
    text-style: bold;
    text-opacity: 100%;
}

Footer {
    background: $panel;
    color: $foreground;
}

FooterKey {
    padding-left: 1;
}


/* ─── Dashboard ──────────────────────────────────────────────────────────── */

ProfileTab,
TagsTab,
PartyTab {
    height: auto;
}

ProfileTab * {
    padding: 0;
    margin: 0;
}

Screen {
    .dashboard-main-container {
        layout: stream;
    }
    # Change the styles according to the breakpoint classes &.-narrow {
        .dashboard-main-container .dashboard-panel-row {
            layout: stream;
            height: auto;
            margin-bottom: 0;
        }
    }
    &.-normal {
        .dashboard-main-container .dashboard-panel-row {
            layout: stream;
            height: auto;
            margin-bottom: 0;
        }
    }
    &.-wide {
        .dashboard-main-container .dashboard-panel-row {
            layout: grid;
            grid-size: 2;
            height: auto;
            margin-bottom: 0;
        }
    }
    &.-very-wide {
        .dashboard-main-container .dashboard-panel-row {
            layout: grid;
            grid-size: 2;
            height: auto;
            margin-bottom: 0;
        }
    }
}

#user-health-mana-xp-bars {
    margin: 0;
    padding: 0;
}

.dashboard-panel {
    padding: 0 1;
    border: round $pmenu_bg;
    height: auto;
    border-title-align: center;
    padding-bottom: 0;
}

.dashboard-panel-horizontal {
    height: auto;
    border: hidden $pmenu_bg;
}

.dashboard-panel-vertical {
    height: auto;
    padding-top: 1;
    border: hidden $pmenu_bg;
}

.text-box-collapsible {
    border: round $pmenu_bg;
    padding: 0 1;
    height: auto;
    border-title-align: center;
    background: $background;
}

.text-box-collapsible CollapsibleTitle {
    height: auto;
    padding-bottom: 0;
}

.markdown-box {
    background: $boost;
    border: inner $boost;
}


/* ─── Dashboard Rows ─────────────────────────────────────────────────────── */


/*# Achievements*/

.label-value-row {
    layout: grid;
    grid-size: 2 1;
    grid-columns: 80% 40%;
}


/* hello*/

.icon-value-row {
    layout: grid;
    grid-size: 2 1;
    grid-columns: auto 90%;
    grid-rows: 1fr;
}


/* gold*/

.icon-label-value-row {
    align: left bottom;
    layout: grid;
    grid-size: 3;
    grid-columns: auto;
}


/* bars*/

.icon-label-bar-value-row {
    layout: grid;
    grid-size: 3;
    grid-columns: auto auto 10fr;
    height: auto;
    content-align: left bottom;
}

.icon-label-bar-value-row .label {
    padding-right: 1
}

.icon {
    color: $accent;
    padding-right: 1;
    text-align: center;
}

.label {
    color: $accent;
    text-style: bold;
}

.value {
    color: $text;
    padding-left: 1;
}


/* ─── Profile Specific ───────────────────────────────────────────────────── */


/* Actualizar IDs de las barras de progreso */

#hp-stats-row .icon,
#hp-stats-row .label,
#hp-stats-row Bar>.bar--bar,
#hp-stats-row Bar>.bar--complete {
    color: $error;
}

#mp-stats-row .icon,
#mp-stats-row .label,
#mp-stats-row Bar>.bar--bar,
#mp-stats-row Bar>.bar--complete {
    color: $success;
}

#xp-stats-row .icon,
#xp-stats-row .label,
#xp-stats-row Bar>.bar--bar,
#xp-stats-row Bar>.bar--complete {
    color: $warning;
}

#cron-status-row * {
    color: $error;
}

#user-attributes-stats .label-value-row {
    grid-columns: 1fr;
}

#user-health-mana-xp-bars Bar {
    width: 1fr;
}

#user-achievements-panel .value,
#user-stats .value {
    padding-left: 0;
}

#user-primary-and-attributes-stats {
    layout: grid;
    grid-size: 2 1;
    grid-columns: 3fr 2fr;
}


/* En tu archivo .tcss (ej. main_app.tcss) */

SimpleProgressWidget.hidden {
    display: none;
}

#party-overview-panel {
    height: auto
}

#available-spells-panel {
    height: auto
}

#spell-list-container {
    height: auto;
    border: hidden;
}

#spells-display-area {
    height: auto;
}

.spell-slot,
.user-message {
    height: auto;
    width: 100%;
    border: round $purple;
}

#main_list {
    height: 50%;
}

.controls-row {
    height: auto;
    margin: 1;
}

#tasks_list {
    width: auto;
    height: 80%;
}

.task-selected {
    background: $baby_pink;
}

.task-item Label {
    width: 100%;
}